
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

//// Bootstrap3
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";


//Bootstrap4
@import "~bootstrap/scss/bootstrap";

.response-block{
  margin-bottom:15px;
  background-color: #eae3d8;;
  padding:10px 0;
}
.custom-thumbnail{
  max-height:150px;
  max-width:150px;
  margin-top:15px;
}

.registration-form{
  min-width:400px;
}

.custom_thumbnail{
  height:150px;
  width:150px;
  margin-bottom:10px;
}

.add-image-container{
  min-width:300px;
}
.addResponse{
  width:400px;
  padding:5px;
}
.addResponseBlock{
  max-width:800px;

}

.custom-alert{
  position:fixed;
  top: 30vh;
  width: 80%;
  z-index: 1000;
  left: 10%;
}

.main-custom-container{
  position:relative;
}

.custom-avatar-img{
  max-width:150px;
  max-height:150px;
}

.search-area{
  position:relative;
}

.search-preview-container{
  position: absolute;
  background-color: #d6dcd7;
  z-index: 500;
  top: 40px;
  width: 100%;
  min-height: 100px;
  padding: 5px;
}


