
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

//// Bootstrap3
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";


//Bootstrap4
@import "~bootstrap/scss/bootstrap";

.response-block{
  margin-bottom:15px;
  background-color: #eae3d8;;
  padding:10px 0;
}
.custom-thumbnail{
  max-height:150px;
  max-width:150px;
  margin-top:15px;
}

.registration-form{
  min-width:400px;
}

.custom_thumbnail{
  height:150px;
  width:150px;
  margin-bottom:10px;
}

.add-image-container{
  min-width:300px;
}


